body {
  font-family: 'Open Sans', sans-serif;
}

#content {
  padding: 2em;
}

footer {
  text-align: right;
  padding: 0.5em, 2em;
}

i[class^="fi-"] {
  color: black;
  font-size: 3em;
  padding: 0.2em;
}

#lang-switch {
  font-size: 75%;
}
